body {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.d-flex {
  display: flex;
}

.center {
  justify-content: center;
}

.container {
  flex-direction: column;
  border: 2px solid #000;
  width: 40%;
}

.container > * {
  border-bottom: 1px solid #000;
  padding: 10px 20px;
}

.d-between {
  justify-content: space-between;
  align-items: center;
}

.top-color {
  background-color: #d3d3d3;
}

.new-task {
  width: 100%;
  border-bottom: 1px solid #000;
}

.bg-color {
  flex-direction: column;
  padding: 0;
}

.new-task:nth-child(odd) {
  background-color: #e8d8c8;
}

.new-task:nth-child(even) {
  background-color: #e1d4bc;
}

.input-text {
  border: none;
  font-style: italic;
  padding: 10px;
  font-size: 20px;
}

.white-color {
  color: #fff;
}

.validationEntry {
  color: red;
  font-style: italic;
  visibility: visible;
}

.check-task {
  align-items: center;
  gap: 10px;
}

.clear {
  text-decoration: none;
  color: #000;
  background-color: #d3d3d3;
}

.clear p {
  text-align: center;
}

.overText {
  text-decoration: line-through;
  color: gray;
}
